
/*===================================== base =====================================*/

.logo{
    margin-top: 25px;
    margin-left: 15px;
    height: 35px;
    width: 35px;
}
.blocklogo{
    height: 100%;
    margin-left: 0;
}
.noir{
    color: black;
    text-transform: uppercase;
}
.menu{
    color: black;
}
.blanc{
    color: #ffffff;
}
.btn, .btn-large, .btn-small, .btn-flat {
    border-radius: 30px;
    font-weight: bold;
    font-size: 0.7em;
}

/*===================================== Home =====================================*/

header{
    padding-left: 10vw;
    padding-top: 10vw;
    background: url(../img/kallyas-landingpage.jpg) center;
    background-size: cover;
    height: 600px;
}
header h1{
    font-weight: lighter;
    margin-top: 0;
}
header p {
    color: #797979;
}
.margin-top{
    margin-top: 100px;
}

/*===================================== About =====================================*/

.padding100{
    padding: 0 8vw !important;
}
.thum4{
    background: url("../img/thumbnail-4.jpg") center;
    background-size: cover;
    height: 300px;
}
.thum5{
    background: url("../img/thumbnail-5.jpg") center;
    background-size: cover;
    height: 300px;
}
.illu{
    background: url("../img/illustration2.png") center;
    background-size: cover;
    height: 300px;
}
.thum6{
    background: url("../img/thumbnail-6.jpg") top;
    background-size: cover;
    height: 600px;
}
.about{
    height: 300px;
}
.trait{
    width: 25px;
    border-top: 2px solid #a3940d;
}
.about div h4{
    margin-bottom: 7px;
}
.margin-b0{
    margin-bottom: 0;
}

/*===================================== Pricing =====================================*/

.bgBlack{
    background: url("../img/bg_black.jpg") round;
    height: 100%;
    min-height: calc(100vh - 64px);
}
.pricing{
    color: white;
}
.pricing p{
    color: #8d8d8d;
    line-height: 2;
}
.Jaune{
    font-size: 5em;
    font-weight: lighter;
    color: #b89e18 !important;
    margin-bottom: 0;
    margin-top: 0;
}
.Jaune sup {
    font-size: 0.4em;
}
sup {
    top: -1em;
}
h6{
    margin-bottom: 2em;
}
.h3pricing{
    color: #fff;
    font-weight: lighter;
    margin-bottom: 5vw;
}
.contpric{
    padding-top: 10vw;
}
.bordure{
    border-right: 2px solid #2a2a2a;         /*bordure de separation*/
}
.pricing a{
    padding: 0 30px;
}


@media only screen and (max-width: 600px) {          /*Desactivation des bordure de separation de block sur mobile*/
    .bordure{
        border-right: none;
    }
}
