{% extends '@Maquette/Default/base.html.twig' %}

{% block body %}

    {#===================================== Ligne horizontale 3 block =====================================#}

    <div class="row margin-b0">

        {#===================================== block 1 texte =====================================#}

        <div class="col s12 m4 l4 padding100 valign-wrapper about">
            <div>
                <h4>History</h4>
                <div class="trait"></div>
                <p>Add as many language packs as you want, to showcase your website across the entire globe.</p>
            </div>
        </div>

        {#===================================== block 2 image =====================================#}

        <div class="col s12 m4 l4 thum4">
        </div>

        {#===================================== block 3 texte =====================================#}

        <div class="col s12 m4 l4 padding100 valign-wrapper about">
            <div>
                <h4>Who we are</h4>
                <div class="trait"></div>
                <p>Add as many language packs as you want, to showcase your website across the entire globe.</p>
            </div>
        </div>
    </div>

    {#===================================== Ligne horizontale 3 block et 2 block vertical =====================================#}

    <div class="row">
        <div class="col s12 m8 l8">

            {#===================================== Ligne horizontale 2 block =====================================#}

            <div class="row margin-b0">

                {#===================================== block 4 image =====================================#}

                <div class="col s12 m6 l6 thum5">
                </div>

                {#===================================== block 5 texte =====================================#}

                <div class="col s12 m6 l6 padding100 valign-wrapper about">
                    <div>
                        <h4>What we do</h4>
                        <div class="trait"></div>
                        <p>Add as many language packs as you want, to showcase your website across the entire globe.</p>
                    </div>
                </div>
            </div>

            {#===================================== Ligne horizontale 2 block =====================================#}

            <div class="row margin-b0">

                {#===================================== block 6 texte =====================================#}

                <div class="col s12 m6 l6 padding100 valign-wrapper about">
                    <div>
                        <h4>Awards</h4>
                        <div class="trait"></div>
                        <p>Add as many language packs as you want, to showcase your website across the entire globe.</p>
                    </div>
                </div>

                {#===================================== block 7 image =====================================#}

                <div class="col s12 m6 l6 illu">
                </div>

            </div>
        </div>

        {#===================================== Ligne horizontale 2 block =====================================#}

        <div class="col s12 m4 l4">
            <div class="row margin-b0">

                {#===================================== block 8 et 9 image et texte =====================================#}

                <div class="col s12 thum6">


                    <div class="col s12 about">   {#Vide#}
                    </div>


                    <div class="col s12 padding100 valign-wrapper about">    {#Texte#}
                        <div>
                            <h4 class="blanc">Goal</h4>
                            <div class="trait"></div>
                            <p class="blanc">Add as many language packs as you want, to showcase your website across the
                                entire globe.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

