<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">        {#Materialize icons#}
        <link href="{{ asset('css/materialize.min.css') }}" rel="stylesheet"/>                        {#Materialize css#}
        <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>                                  {#Feuille de style#}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>                          {#Favicon#}
</head>
<body>{% block nav %}                                                                                 {#Bar de navigation#}
    <nav class="z-depth-0">
        <div class="nav-wrapper valign-wrapper row white">
            <a href="/" class="left-align"><img src="{{ asset('img/logo-landing2.png') }}" alt="logo"
                                                class="responsive-img logo"></a>
            <div class="col l8 hide-on-med-and-down noir">
                <ul id="nav-mobile" class="right noir">
                    <li><a href="/" class="noir">Home</a></li>
                    <li><a href="/about" class="noir">About</a></li>
                    <li><a href="/pricing" class="noir">Pricing</a></li>
                    <li><a href="/" class="noir">Blog</a></li>
                </ul>
            </div>
            <div class="col s4 m2 l2">
                <a href="/" class="right signup waves-effect waves-light btn black z-depth-0">Sign up</a>
            </div>
            <div class="col hide-on-large-only">
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i
                            class="material-icons menu">menu</i></a>
            </div>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">                                                             {#Menu mobile et tablette#}
        <li><a href="/" class="noir">Home</a></li>
        <li><a href="/about" class="noir">About</a></li>
        <li><a href="/pricing" class="noir">Pricing</a></li>
        <li><a href="/" class="noir">Blog</a></li>
    </ul>
{% endblock %}
{% block body %}                                                                                      {#Block de code body#}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>              {#JQuery#}
    <script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>               {#Materialize js#}
    <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>                        {#script js#}
{% endblock %}
</body>
</html>
