{% extends '@Maquette/Default/base.html.twig' %}

{% block body %}


    {#========================================== Header ==========================================#}


    <header>
        <h1>
            Membership<br/>
            Business Model.
        </h1>
        <p class="hide-on-small-only">
            Get acess to 200+ Premium WP Themes.
        </p>
        <a href="/" class="waves-effect waves-light btn white noir z-depth-0">Start now</a>
    </header>


    {#========================================== Container ==========================================#}


    <div class="container margin-top">

        {#===================================== Titre et texte =====================================#}

        <h4 class="center-align">We craft ecosystems that grow businesses</h4>
        <p class="center-align">we're a full-service digital agency that believes being a favorite brand is more
            valuable than just being a Famous one.
            We craft beautifully useful, connected ecosystems that grow businesses and build enduring relationships
            between brands and humans.</p>


        {#======================================= Les articles =======================================#}

        <div class="row">

            {#======================================= article 1 =======================================#}

            <div class="col s12 m4 l4">
                <img src="{{ asset('img/thumbnail-1.jpg') }}" alt="thumbnail-1" class="responsive-img">
                <h5>User experience</h5>
                <p>Update your online business experience to 2017 standards. Encrease your earnings</p>
            </div>

            {#======================================= article 2 =======================================#}

            <div class="col s12 m4 l4">
                <img src="{{ asset('img/thumbnail-2.jpg') }}" alt="thumbnail-2" class="responsive-img">
                <h5>Social Media</h5>
                <p>Update your online business experience to 2017 standards. Encrease your earnings</p>
            </div>

            {#======================================= article 3 =======================================#}

            <div class="col s12 m4 l4">
                <img src="{{ asset('img/thumbnail-3.jpg') }}" alt="thumbnail-3" class="responsive-img">
                <h5>Branding</h5>
                <p>Update your online business experience to 2017 standards. Encrease your earnings</p>
            </div>
        </div>
    </div>
{% endblock %}

