{% extends '@Maquette/Default/base.html.twig' %}

{% block body %}
    <div class="bgBlack">   {#Background#}

        <div class="container contpric">

            <h3 class="h3pricing center">Pick your plan</h3>     {#Titre#}

            {#===================================== Ligne de 3 block  =====================================#}

            <div class="row">
                <div class="col s12 m12 l10 offset-l1">

                    {#===================================== block 1 =====================================#}

                    <div class="col s12 m4 l4 center pricing bordure">
                        <p class="Jaune"><sup>$</sup>59</p>
                        <h6>Single License</h6>
                        <p>
                            1 theme inclued.<br/>
                            1 year of theme updates & support.<br/>
                            20% off future purshases.
                        </p>
                        <a href="/" class="waves-effect waves-light btn white noir z-depth-0">View</a>
                    </div>

                    {#===================================== block 2 =====================================#}

                    <div class="col s12 m4 l4 center pricing bordure">
                        <p class="Jaune"><sup>$</sup>199</p>
                        <h6>1 Year Membership</h6>
                        <p>
                            All themes inclued.<br/>
                            1 year of theme updates & support.<br/>
                            Access all new themes.
                        </p>
                        <a href="/" class="waves-effect waves-light btn white noir z-depth-0">Sign up today</a>
                    </div>

                    {#===================================== block 3 =====================================#}

                    <div class="col s12 m4 l4 center pricing">
                        <p class="Jaune"><sup>$</sup>399</p>
                        <h6>Forever Membership</h6>
                        <p>
                            All themes inclued.<br/>
                            Unlimited theme updates & support.<br/>
                            Access all new themes.
                        </p>
                        <a href="/" class="waves-effect waves-light btn white noir z-depth-0">Sign up today</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

